@import './mixins.scss';
@import './functions.scss';

:root {
  --border-radius: 5px;
  --hover: 0.2s;

  --color-white: #f9f9f9;
  --color-white-transparent: rgba(255, 255, 255, 0.9);
  --color-grey-light: #f1f2f6;
  --color-grey: #dfe4ea;

  --color-green: #2ecc71;
  --color-green-transparent: rgba(46, 204, 113, 0.5);
  --color-green-dark: #18763f;

  --color-red: #ff5e57;
  --color-red-transparent: rgba(231, 76, 60, 0.5);
  --color-red-dark: #a2251e;

  --color-orange: #e67e22;
  --color-orange-dark: #b35c0f;
  --color-orange-transparent: rgba(230, 126, 34, 0.5);

  --color-sand: #ffd09e;

  --color-black: #2c3e50;
  --color-black-transparent: rgba(52, 73, 94, 0.8);

  --color-blue: #3498db;
  --color-blue-dark: #1f6796;
  --color-blue-transparent: rgba(52, 152, 219, 0.5);

  --color-timber: #175b33;

  --box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3);

  --desert: url('/images/resources/desert.png');
  --forest: url('/images/resources/forest.png');
  --mountain: url('/images/resources/mountain.png');
  --hill: url('/images/resources/hill.png');
  --field: url('/images/resources/field.png');
  --pasture: url('/images/resources/pasture.png');
  --robber: url('/images/robber.png');
  --resource-height: 9.6rem;
  --resource-width: 8.2rem;

  --resource-height-medium: 6.2rem;
  --resource-width-medium: 5.46rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-green);
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
  font-weight: 300;
}

.player-1 {
  background-color: var(--color-blue) !important;
}
.player-2 {
  background-color: var(--color-red) !important;
}
.player-3 {
  background-color: var(--color-green) !important;
}
.player-4 {
  background-color: var(--color-orange) !important;
}

.border-1 {
  border: 3px solid var(--color-blue) !important;
}
.border-2 {
  border: 3px solid var(--color-red) !important;
}
.border-3 {
  border: 3px solid var(--color-green) !important;
}
.border-4 {
  border: 3px solid var(--color-orange) !important;
}

.desert {
  background-image: var(--desert);
}

.forest {
  background-image: var(--forest);
}

.hill {
  background-image: var(--hill);
}

.pasture {
  background-image: var(--pasture);
}

.field {
  background-image: var(--field);
}

.mountain {
  background-image: var(--mountain);
}
