@import '../../sass/mixins.scss';

.board-container {
  background-image: url('../../../public/images/GameBoard.png');
  width: 54.7rem;
  background-repeat: no-repeat;
  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.11) translateX(-0.1%);
  }
}
