@import '../../sass/mixins.scss';
@import '../../sass/functions.scss';

.resource-container {
  @include flex-center();
  position: relative;
}

.resource {
  position: relative;
  display: flex;
  flex-direction: column;
  @include resource-styles(1);
  z-index: 1;

  &-image {
    @include flex-center();
    @include absolute-center();
    @include resource-styles(0.85);
    z-index: 5;

    &-number {
      height: 3rem;
      width: 3rem;
      @include flex-center();
      border-radius: 50%;
      background-color: var(--color-white);
    }

    &-robber {
      height: 4.6rem;
      width: 2.2rem;
      background-image: var(--robber);
      background-size: cover;
    }
  }
}

.top {
  height: 50%;
  z-index: 3;
}

.bottom {
  height: 50%;
  z-index: 3;
}

.middle {
  height: resource_height(0.5);
  width: resource_width(1);
  @include absolute-center();
  @include clip-hexagon();
  z-index: 4;
}

.road-container {
  display: flex;
  & div {
    background-color: var(--color-sand);
    height: 100%;
    width: 50%;
  }
}
