@import '../../sass/mixins.scss';

.card-container {
  display: flex;
  overflow: auto;
  width: 80%;
}

.card {
  @include flex-center();
  position: relative;
  height: 25.6rem;
  width: 16.6rem;
  display: flex;
  background-size: cover;
  margin: 2rem;
  background-color: var(--color-black);
  color: var(--color-white);
  flex-shrink: 0;

  &-active {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
    }

    &:active {
      transform: scale(1);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    }
  }
  &-cover {
    @include flex-center();
    height: 100%;
    width: 100%;
    background-color: var(--color-black-transparent);
    color: var(--color-white);
  }

  &-monopoly {
    background-image: url('/images/devcards/monopoly.png');
  }
  &-roadBuilding {
    background-image: url('/images/devcards/road.png');
  }
  &-victoryPoint {
    background-image: url('/images/devcards/vp.png');
  }
  &-yearOfPlenty {
    background-image: url('/images/devcards/plenty.png');
  }
  &-knight {
    background-image: url('/images/devcards/knight.png');
  }
}

.card-quantity {
  height: 2.5rem;
  width: 2.5rem;
  margin: 1rem 1rem;
  background-color: black;
  border-radius: 50%;
  color: var(--color-white);
  @include flex-center();
  position: absolute;
  top: 1px;
  right: 1px;
}

.card-modal {
  display: flex;
  @include flex-center();
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transform: scale(0);
  z-index: 0;
  background-color: var(--color-black-transparent);
  transition: transform 0.2s;

  &-active {
    z-index: 11;
    transform: scale(1);
  }
}

.card-showcase {
  height: 51.2rem;
  width: 33.2rem;
  background-size: cover;
  @include flex-center();

  div {
    visibility: hidden;
    opacity: 0;
    padding: 2rem;
    cursor: pointer;
    border-radius: 5px;
    color: var(--color-white);
    background-color: black;
    transition: opacity 0.5s;
  }

  &:hover div {
    visibility: visible;
    opacity: 1;
  }
}
