.resource-btn-container {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}

.resource-btn {
  margin: 1rem;
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.2s;
}

.resource-btn:hover {
  transform: translateY(-0.3rem);
}

.resource-btn:active {
  transform: translateY(0);
}
