@import '../../sass/mixins.scss';

.trade {
  &-resources {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    margin-bottom: 3rem;
  }
  &-partners {
    width: 60rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-container {
      display: flex;
      width: 50%;
      display: flex;
      justify-content: space-between;

      & div {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        border: 1px solid var(--color-black);
        font-size: 1.6rem;
        color: var(--color-white);
        cursor: pointer;
        @include flex-center();
      }

      & div.btn-1 {
        background-color: var(--color-blue-dark);
        box-shadow: 0px 3px 0px 0px var(--color-blue-dark);
      }

      & div.btn-1.active {
        box-shadow: 0px 0px 0px 0px var(--color-blue-dark);
        background-color: var(--color-blue);
        transform: translateY(3px);
      }

      & div.btn-2 {
        background-color: var(--color-red-dark);
        box-shadow: 0px 3px 0px 0px var(--color-red-dark);
      }

      & div.btn-2.active {
        box-shadow: 0px 0px 0px 0px var(--color-red-dark);
        background-color: var(--color-red);
        transform: translateY(3px);
      }

      & div.btn-3 {
        background-color: var(--color-green-dark);
        box-shadow: 0px 3px 0px 0px var(--color-green-dark);
      }

      & div.btn-3.active {
        box-shadow: 0px 0px 0px 0px var(--color-green-dark);
        background-color: var(--color-green);
        transform: translateY(3px);
      }

      & div.btn-4 {
        background-color: var(--color-orange-dark);
        box-shadow: 0px 3px 0px 0px var(--color-orange-dark);
      }

      & div.btn-4.active {
        box-shadow: 0px 0px 0px 0px var(--color-orange-dark);
        background-color: var(--color-orange);
        transform: translateY(3px);
      }
    }
  }
}
