@import '../sass/mixins.scss';

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-black);
  height: 100%;
  width: 100%;
}
