@import '../sass/mixins.scss';

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-black);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.game-resources {
  @include flex-center();
  border-radius: 5px;
  width: 50%;
  min-width: 50rem;
  height: 10rem;
}
