@import '../sass/mixins.scss';

.lobby-container {
  @include flex-column-center();

  & div {
    @include flex-column-center();
    height: 20rem;
    width: 30rem;
    background-color: var(--color-grey);
    box-shadow: var(--box-shadow);
    justify-content: space-between;
    padding: 3rem;
  }

  & button {
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
    height: 4rem;
    width: 10rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    transition: all var(--hover);
  }

  & button:hover {
    box-shadow: var(--box-shadow);
    transform: translateY(-0.2rem);
  }

  & button:active {
    box-shadow: none;
    transform: translateY(0);
  }
}
