.trade-offer {
  display: flex;
  justify-content: space-evenly;
  color: var(--color-white);
  margin: 0.25rem;
  border-radius: 5px;
  align-items: center;
}

.trade-offer * {
  transform: scale(0.9);
  &-btns {
    display: flex;
    flex-direction: column;
  }
}
